.header {
    -fx-background-color: black;
    -fx-padding: 20px;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 20;
}

.cinema-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.header-button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.header-button:hover {
    -fx-background-color: #5a5a5a;
}

/* Table Section */
.table-view {
    -fx-border-color: #333333;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}

.showings-table {
    -fx-border-color: #333333;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}

/* Column Header Styling */
.table-view .column-header {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

/* Blue button styling */
.blue-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}

.blue-button:hover {
    -fx-background-color: #0b79d0;
}

.label {
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-padding: 5;
}